* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ededed;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

li {
  float: left;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: #456aa9;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: #004691;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
  background-color: #f8f9fa;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
}

th {
  background-color: #343a40;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
}

td button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

td button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  table {
    font-size: 0.9em;
  }

  th, td {
    padding: 10px;
  }

  td button {
    padding: 4px 8px;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.modal h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.modal div {
  margin-bottom: 15px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.modal input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.modal input:focus {
  border-color: #007BFF;
  outline: none;
}

.modal button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #218838;
}

.modal button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(40, 167, 69, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
